<!-- NavBar(Desktop) -->
<div class="w-full bg-azul text-white px-4 ">
            
    <div class="flex flex-row">
        <div class="h-100 flex items-end max-[790px]:hidden">
            <div class="flex items-center justify-center min-w-[95px] w-[95px] h-[113px] ">
                <svg data-testid="LogoMagaluIcon" viewBox="0 0 95 113" y="4" x="0" class="sc-eqUAAy lfQClK"><image href="https://wx.mlcdn.com.br/site/desk/header/logo-lu-do-magalu.png" height="113" viewBox="0 0 95 113" width="95" y="4" x="0"></image></svg>
            </div>
        </div>
        <div class="w-full">
            <!-- Links do Topo do NavBar(Desktop) -->
            <div class="h-[30px] text-[12px] text-[#CCE6F4] flex flex-row mb-[32px] mt-[16px]">
                <div class="w-[150px] max-[650px]:hidden">
                    
                </div>

                <!-- Links do Topo -->
                <div class="w-full flex flex-row justify-between">
                    <div class="flex flex-row space-x-3">
                        <a href="" class="hover:underline  ">Nossas lojas</a>
                        <a href="" class="hover:underline">Tenha sua loja</a>
                        <a href="" class="hover:underline">Regulamentos</a>
                        <a href="" class="hover:underline">Acessibilidade</a>
                        <a href="" class="hover:underline max-[650px]:hidden">Segurança e Privacidade</a>
                    </div>

                    <div class="space-x-3 flex flex-row">
                        <a href="" class="hover:underline max-[950px]:hidden">Atendimento</a>
                        <p class="max-[950px]:hidden">Compre pelo tel: 0800 773 3838</p>
                        <a href="" class="hover:underline">Meus Pedidos</a>
                    </div>
                </div>
            </div>


            <div class="flex flex-row items-center justify-between">
                <!--<div class="flex items-center justify-center min-w-[95px] w-[95px] h-[113px]">
                    <svg data-testid="LogoMagaluIcon" viewBox="0 0 95 113" y="4" x="0" class="sc-eqUAAy lfQClK"><image href="https://wx.mlcdn.com.br/site/desk/header/logo-lu-do-magalu.png" height="113" viewBox="0 0 95 113" width="95" y="4" x="0"></image></svg>
                </div>-->

                <div class="flex flex-row">
                    <!-- Logo -->
                    <div class="h-[75px] flex items-center mr-[16px] max-[650px]:hidden">
                        <div class="w-[124px] h-[30px]">
                            <svg data-testid="LogoMagaluIcon" viewBox="0 0 60 13" id="logo" fill="#fff" class="sc-eqUAAy cBGsfW"><path d="M59.379 0.210938H58.0197C57.633 0.210938 57.3987 0.445293 57.3987 0.83198V4.85118C57.3987 6.32762 56.6018 7.15959 55.4945 7.15959C54.3286 7.15959 53.6724 6.40379 53.6724 4.94492V0.83198C53.6724 0.445293 53.438 0.210938 53.0514 0.210938H51.6921C51.3054 0.210938 51.071 0.445293 51.071 0.83198V5.13827C51.071 7.87437 52.4889 9.42698 54.6215 9.42698C55.9046 9.42698 56.8889 8.99928 57.592 8.1263L57.7092 8.67118C57.7853 9.02271 58.0197 9.21606 58.3888 9.21606H59.379C59.7656 9.21606 60 8.9817 60 8.59501V0.83198C60 0.445293 59.7715 0.210938 59.379 0.210938Z" fill="currentColor"></path><path d="M49.911 6.84906H47.4678C46.6124 6.84906 46.1671 6.40379 46.1671 5.54839V0.83198C46.1671 0.445293 45.9328 0.210938 45.5461 0.210938H44.1517C43.765 0.210938 43.5306 0.445293 43.5306 0.83198V5.87649C43.5306 7.95054 44.7903 9.21606 46.8702 9.21606H49.9168C50.3035 9.21606 50.5379 8.9817 50.5379 8.59501V7.47011C50.532 7.08342 50.2977 6.84906 49.911 6.84906Z" fill="currentColor"></path><path d="M10.3635 0.814404C10.3224 0.404281 10.1115 0.210938 9.72484 0.210938H8.69367C8.36557 0.210938 8.13122 0.345692 7.95545 0.638637L5.4537 4.86876L3.12772 0.638637C2.97539 0.345692 2.7176 0.210938 2.3895 0.210938H1.28217C0.895481 0.210937 0.684561 0.41014 0.643549 0.814404L0.00492948 8.57744C-0.0360828 9.00514 0.180696 9.21606 0.58496 9.21606H1.82705C2.21373 9.21606 2.44809 9.02271 2.46567 8.61259L2.73517 4.26529L4.22919 6.96038C4.38152 7.25333 4.63932 7.38808 4.96741 7.38808H5.82281C6.15091 7.38808 6.38527 7.27091 6.56103 6.96038L8.24839 4.07195L8.44174 8.61259C8.45931 9.02271 8.67609 9.21606 9.06278 9.21606H10.4045C10.8146 9.21606 11.0255 9.00514 10.9845 8.57744L10.3635 0.814404Z" fill="currentColor"></path><path d="M41.7261 0.21092H40.6598C40.2906 0.21092 40.0387 0.404264 39.9801 0.773374L39.9215 1.21865C39.3181 0.580031 38.4451 0 36.9862 0C34.5431 0 32.7385 1.92172 32.7385 4.69297C32.7385 7.4115 34.4259 9.42696 36.8339 9.42696C38.3455 9.42696 39.3356 8.78834 39.9391 8.12629L40.0387 8.67116C40.0973 9.0227 40.3317 9.21604 40.7008 9.21604H41.7319C42.1186 9.21604 42.353 8.98169 42.353 8.595V0.831963C42.3471 0.445276 42.1128 0.21092 41.7261 0.21092ZM37.5487 7.15957C36.1718 7.15957 35.2989 6.21043 35.2989 4.73399C35.2989 3.23997 36.2129 2.26739 37.5487 2.26739C38.9255 2.26739 39.7985 3.21653 39.7985 4.69297C39.8044 6.19285 38.8904 7.15957 37.5487 7.15957Z" fill="currentColor"></path><path d="M31.186 0.21092H30.1197C29.7506 0.21092 29.4987 0.404264 29.4401 0.773374L29.3815 1.21865C28.778 0.580031 27.9051 0 26.452 0C24.0089 0 22.2043 1.80454 22.2043 4.58166C22.2043 7.21816 23.8741 9.08129 26.2821 9.08129C27.7762 9.08129 28.6667 8.46024 29.2702 7.79819V8.24346C29.2702 9.79607 28.3972 10.7862 26.5516 10.7862C25.7783 10.7862 25.0752 10.6339 24.3604 10.3234C23.9913 10.1476 23.6984 10.2238 23.5285 10.5929L23.1008 11.4483C22.925 11.7998 22.9836 12.0869 23.3117 12.2802C24.3428 12.8603 25.6025 13.0946 26.8212 13.0946C29.8678 13.0946 31.8071 11.1729 31.8071 8.4954V0.831963C31.8071 0.445276 31.5727 0.21092 31.186 0.21092ZM27.0145 6.86662C25.6728 6.86662 24.7647 5.97607 24.7647 4.59337C24.7647 3.14037 25.7138 2.26739 27.0145 2.26739C28.3562 2.26739 29.2643 3.0642 29.2643 4.55822C29.2643 5.89991 28.3152 6.86662 27.0145 6.86662Z" fill="currentColor"></path><path d="M20.6516 0.21092H19.5853C19.2162 0.21092 18.9642 0.404264 18.9057 0.773374L18.8471 1.21865C18.2436 0.580031 17.3706 0 15.9176 0C13.4745 0 11.6699 1.92172 11.6699 4.69297C11.6699 7.4115 13.3573 9.42696 15.7653 9.42696C17.2769 9.42696 18.267 8.78834 18.8705 8.12629L18.9701 8.67116C19.0287 9.0227 19.263 9.21604 19.6322 9.21604H20.6633C21.05 9.21604 21.2844 8.98169 21.2844 8.595V0.831963C21.2726 0.445276 21.0383 0.21092 20.6516 0.21092ZM16.4801 7.15957C15.1032 7.15957 14.2303 6.21043 14.2303 4.73399C14.2303 3.23997 15.1442 2.26739 16.4801 2.26739C17.8569 2.26739 18.7299 3.21653 18.7299 4.69297C18.7299 6.19285 17.8159 7.15957 16.4801 7.15957Z" fill="currentColor"></path></svg>
                        </div>
                    </div>

                    <!-- Menu Mobile -->
                    <div class="h-[75px] hidden max-[650px]:flex mr-[8px] border-2 border-red-900">
                        <div id="menu-mobile-container" class="h-[50px] px-[8px] rounded-tl-[10px] rounded-tr-[10px] py-[12] bg-red-900 relative z-20">
                            <i id="menu-mobile-icon" class="fa-solid fa-bars text-[25px]"></i>

                            <!-- dropdown -->
                            <div id="menu-mobile-dropdown" class=" w-[300px] bg-white absolute left-0 top-[50px] flex flex-col">
                                <%if(user){%>
                                    <div class="border-2 border-red-900 py-[8px] flex flex-row justify-center">
                                        <img width="50" height="50" src="https://img.icons8.com/ios-filled/50/0086FF/user-male-circle.png" alt="user-male-circle"/>
                                        <div class="text-[12px] flex flex-col justify-center ml-[8px]">
                                            <p class="font-bold text-azul"><%= user.name %></p>
                                            <p class="text-black"><%= user.email %></p>
                                        </div>
                                    </div>
                                <%}%>

                                <div class="pt-[16px]">
                                    <hr class="w-full h-[5px] bg-red-900 ">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Barra de Pesquisa -->
                    <div class="h-[75px] flex flex-col justify-center min-w-[100px] mr-[16px] overflow-hidden ">
                        <div class="flex flex-row items-center relative">
                            <input type="text"  placeholder="Busca no Magalu" class="w-full px-[8px] py-[4px] h-[30px] text-[13px] text-gray-500 focus:outline-none">
                            <div class="w-[20px] h-[20px] absolute right-[2px]">
                                <svg data-testid="search-submit" aria-label="Buscar produto" role="button" class="text-azul fill-current" tabindex="0" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path></svg>
                            </div>
                        </div>

                        
                        
                        <div class="flex row text-[13px]">
                            <p class="mr-[8px]">#TemNoMagalu:</p>
                            <a href="" class="mr-[4px] flex-shrink-0">Notebook Gamer</a>
                            <a href="" class="mr-[4px] flex-shrink-0">| Pc Gamer</a>
                            <a href="" class="flex-shrink-0">| Televisão</a>
                            
                        </div>
                    </div>

                    <!-- Entre ou Cadastre-se -->
                    <div class="max-[650px]:hidden">
                        <% if(user) { %>
                            <div id="profile-container" class="h-[75px] relative z-10 max-[650px]:pt-[8px]">
                                <div id="profile-item" class="flex flex-row items-center shadow-lg cursor-pointer rounded-tl-[10px] rounded-tr-[10px] px-[8px]">
                                    <div class="w-[50px] h-[50px]  flex items-center justify-center rounded-full mr-[10px] shadow-md z-10 max-[650px]:w-[30px] max-[650px]:h-[30px]">
                                        <img width="50" height="50" src="https://img.icons8.com/ios-filled/50/ffffff/user-male-circle.png" alt="user-male-circle"/>
    
                                    </div>
                                    <div class="text-[12px] flex flex-col max-[870px]:hidden">
                                        <p id="profile-item-name" class="font-bold"><%= user.name%></p>
                                        <p class="text-[#CCE6F4]"><%= user.email%></p>
                                    </div>
                                </div>
    
                                <!-- Perfil DropDown -->
                                <div id="profile-dropdown" class="hidden bg-white bottom-auto right-0 flex flex-col w-[300px] absolute">
                                    <div class="text-[12px] max-[870px]:flex hidden flex-col py-[8px] z-10 items-center">
                                        <p id="profile-item-name" class="font-bold text-azul"><%= user.name%></p>
                                        <p class="text-black"><%= user.email%></p>
                                    </div>
    
                                    <a href="/logout">
                                        <div id="profile-dropdown-item" class="flex flex-row items-center space-x-[10px] px-[8px] py-[4px] cursor-pointer">
                                            <i class="fa-solid fa-right-to-bracket text-black"></i>
                                            <p class="text-black text-[14px]">Sair</p>
                                        </div>
                                    </a>
    
                                    <hr class="w-full h-[5px] relative  bg-gradient-to-r from-yellow-300 via-orange-400 to-[#29C6FF] ">
                                    
                                </div>
                            </div>
                        <%} else {%>
                            <div class=" h-[75px] flex flex-col pt-[8px] text-[12px]">
                                <span class="font-bold">Bem-vindo :)</span>
                                <a href="/login" class="hover:underline">Entre ou Cadastre-se</a>
                                
                            </div>
                        <%}%>
                    </div>
                </div>

                
                

                <!-- Escolher Oferta por região transform transition duration-500 hover:scale-110 -->
                <a href="" class="transition-transform duration-500 hover:scale-110 flex max-[1000px]:hidden ">
                    <div class="h-[75px] flex flex-row pt-[8px]">
                        <div class="w-[40px] h-[40px]">
                            <svg data-testid="PinIcon" class="sc-eqUAAy jNEFZi sc-iQbOkh hmgfFS" fill="#fefefe" viewBox="0 0 24 24"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"></path></svg>
                        </div>
                        <div class="w-[100px] border-1 border-red-500">
                            <p class="text-[12px]">Ver ofertas para minha região</p>
                        </div>
                    </div>
                </a>

                <div class="flex flex-row">
                    <!-- Favoritos -->
                    <a href="" class="transition-transform duration-500 hover:scale-110">
                        <div class="h-[75px] pt-[8px]">
                            <div class="w-[40px] h-[40px] relative max-[650px]:w-[30px] max-[650px]:h-[30px]">
                                <svg data-testid="HeartIcon" viewBox="0 0 29 25" fill="#ffffff" class=""><g fill-rule="evenodd"><path d="M1.49172 11.6365C5.44539 16.9514 8.70455 19.3673 14.1409 24.199C19.7248 19.3076 22.984 16.8619 27.0451 11.4813C28.673 8.73748 27.163 4.74656 25.0145 2.67681C23.3588 1.08145 21.448 0.964921 19.4175 1.45406C16.7335 2.17623 15.8645 2.92149 14.3412 4.38891C12.8582 2.9394 12.0121 2.20322 9.39906 1.48986C7.42226 1.00669 5.08049 1.3635 3.46857 2.93939C1.37694 4.98389 -0.305622 9.22065 1.49172 11.6365Z" fill="currentColor" stroke-width="5%"></path></g></svg>
                                <div class="w-[28px] h-[28px] sm:max-[650px]:w-[22px] sm:max-[650px]:h-[22px] flex justify-center items-center rounded-full bg-[#58C22E] border-[3px] border-[#0086FF] absolute bottom-[-5px] right-[-10px]">
                                    <p class="text-[12px]">0</p>
                                </div>
                            </div>

                        </div>
                    </a>


                    <!-- Carrinho de Compra -->
                    <a href="" class="transition-transform duration-500 hover:scale-110">
                        <div class="h-[75px] pt-[8px] ml-[20px] max-[650px]:ml-[15px] relative">
                            
                                <div class="w-[40px] h-[40px] relative max-[650px]:w-[30px] max-[650px]:h-[30px]">
                                    <svg class="" fill="#ffffff" viewBox="0 0 27 30"><path clip-rule="evenodd" d="m25.678 7.568 1.11 18.076c.143 1.88-1.3 3.514-3.094 3.514H3.916c-1.785 0-3.19-1.634-3.086-3.514L1.988 7.568C2.09 5.836 3.44 4.515 5.074 4.515h17.517c1.643 0 2.983 1.321 3.087 3.053ZM6.765 10.26c0 4.08 3.174 7.437 7.077 7.437 3.895 0 7.069-3.308 6.99-7.437 0-.46-.342-.812-.77-.812s-.77.353-.77.812c0 3.16-2.459 5.755-5.49 5.755-3.03 0-5.49-2.545-5.49-5.755 0-.46-.34-.812-.777-.812s-.77.353-.77.812Z"></path><path d="M20.434.386H7.248C5.947.386 4.94 1.502 4.94 2.832h17.859C22.79 1.511 21.735.386 20.434.386Z"></path></svg>
                                    
                                        <div class="w-[28px] h-[28px] sm:max-[650px]:w-[22px] sm:max-[650px]:h-[22px] flex justify-center items-center rounded-full bg-[#58C22E] border-[3px] border-[#0086FF] absolute bottom-[-10px] right-[-10px]">
                                            <p class="text-[12px]">0</p>
                                        </div>
                                    
                                </div>
                            
                        </div>
                    </a>
                </div>
            </div>

            <!-- Links de Baixo do NavBar(Desktop) -->
            <div class="h-[45px] mt-[32px]">
                <div class="flex flex-row justify-between z-10">

                    <% for(const [index,item] of website.navbar.desktop.menu["mouse over with expanding"].entries()) {%> 
                        <!-- Menu Container -->
                        <div class="menu-container h-[45px] relative <%= (index === website.navbar.desktop.menu["mouse over with expanding"].length - 1 || index === website.navbar.desktop.menu["mouse over with expanding"].length - 2) ? ' max-[700px]:hidden' : '' %>">
                            <!-- Menu Item -->
                            <div id="menu-item" class="px-[16px] h-[45px] text-[14px] rounded-tl-[10px] rounded-tr-[10px] space-x-2 flex items-center cursor-pointer">
                                <%if("icon" in item) {%>
                                    <i id="menu-item-icon" class="<%= item.icon.name %> <%= item.icon.size %>"></i>
                                <%}%>
                                <p id="menu-item-text"><%= item.label %></p>
                            </div>

                            <%if(index === website.navbar.desktop.menu["mouse over with expanding"].length - 1) {%>
                                <!-- último item do array -->
                                 <!-- Menu Link -->
                                 <div id="menu-links" class="hidden bg-white shadow-lg absolute right-0 left-auto top-[45px] z-10 text-[14px] px-[16px] pt-[16px] flex flex-row pb-[20px] border-b-[5px] border-azul">
                                    <%for(const column in item.expanded){%>
                                        <div class="w-[200px] flex flex-col">
                                            <%for(const itemColumn of item.expanded[column]){%>
                                                <a href="<%= itemColumn.href %>" class="hover:underline text-black px-[4px] py-[8px]"><%= itemColumn.label %></a>    
                                            <%}%>
                                        </div>
                                    <%}%>
                                </div>
                            <%} else if(index === website.navbar.desktop.menu["mouse over with expanding"].length - 2){ %>
                                <!-- penultimo item do array -->
                                 <!-- Menu Link -->
                                 <div id="menu-links" class="hidden bg-white shadow-lg absolute right-0 left-auto top-[45px] z-10 text-[14px] px-[16px] pt-[16px] flex flex-row pb-[20px] border-b-[5px] border-azul">
                                    <%for(const column in item.expanded){%>
                                        <div class="w-[200px] flex flex-col">
                                            <%for(const itemColumn of item.expanded[column]){%>
                                                <a href="<%= itemColumn.href %>" class="hover:underline text-black px-[4px] py-[8px]"><%= itemColumn.label %></a>    
                                            <%}%>
                                        </div>
                                    <%}%>
                                </div>
                            <%} else if(index === website.navbar.desktop.menu["mouse over with expanding"].length - 3){ %>
                                <!-- penultimo item do array -->
                                    <!-- Menu Link -->
                                    <div id="menu-links" class="hidden bg-white shadow-lg absolute right-0 left-auto top-[45px] z-10 text-[14px] px-[16px] pt-[16px] flex flex-row pb-[20px] border-b-[5px] border-azul">
                                    <%for(const column in item.expanded){%>
                                        <div class="w-[200px] flex flex-col">
                                            <%for(const itemColumn of item.expanded[column]){%>
                                                <a href="<%= itemColumn.href %>" class="hover:underline text-black px-[4px] py-[8px]"><%= itemColumn.label %></a>    
                                            <%}%>
                                        </div>
                                    <%}%>
                                </div>
                            <%} else{%>
                                <!-- Menu Link -->
                                <div id="menu-links" class="hidden bg-white shadow-lg absolute left-0 top-[45px] z-10 text-[14px] px-[16px] pt-[16px] flex flex-row pb-[20px] border-b-[5px] border-azul">
                                    <%for(const column in item.expanded){%>
                                        <div class="w-[200px] flex flex-col">
                                            <%for(const itemColumn of item.expanded[column]){%>
                                                <a href="<%= itemColumn.href %>" class="hover:underline text-black px-[4px] py-[8px]"><%= itemColumn.label %></a>    
                                            <%}%>
                                        </div>
                                    <%}%>
                                </div>
                            <%}%>

                            
                        </div>
                    <%}%>        
                </div>
            </div>
        </div>
    </div>
    <div>
        <hr class="w-full h-[5px] relative overflow-hidden border-none bg-gradient-to-r from-yellow-300 via-orange-400 to-[#29C6FF] ">
    </div>

    
</div>