<html>
    <head>
        <title><%= typeof title !== 'undefined' ? title : 'Comprar' %></title>

        <!-- CODDING: Font para cartão de crédito -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- include('../../partials/head/googlefonts.ejs') %>
        <%- include('../../partials/head/tailwindcss.ejs') %>
        <%- include('../../partials/head/fontawesome.ejs') %>

        <link rel="stylesheet" href="/css/scrollbar.css">
    </head>
    <body class="bg-[#F4F4F4]">
        <!-- CODDING: Barra de navegação -->
        <nav class="w-full bg-azul flex flex-col justify-center items-center">
            <div class="w-[300px] h-[60px] flex flex-row items-center justify-center my-[16px]">
                <img src="/img/logo/logo.png" alt="" class="w-auto h-auto max-w-full max-h-full">
            </div>
            <hr class="w-full h-[5px]  bg-gradient-to-r from-[#FECB08] via-[#D039F2] to-[#1BDE1E] border-none">
        </nav>

        <!-- CODDING: Stepper -->
        <div class="w-full py-[64px] flex flex-row justify-center items-center">
            
            <ol class="items-center sm:w-auto sm:mx-[16px] space-y-4 sm:flex sm:space-x-8 sm:space-y-0 rtl:space-x-reverse">
                <li id="stepper-personal-information" class="flex items-center  space-x-2.5 rtl:space-x-reverse">
                    <span id="stepper-personal-information-icon-container" class="flex items-center justify-center w-[48px] h-[48px] border border-gray-400 text-gray-400 rounded-full shrink-0">
                        <i class="fa-solid fa-user"></i>
                    </span>
                    <span>
                        <h3 id="stepper-personal-information-title" class="font-medium leading-tight text-gray-400">Indentificação</h3>
                        <p id="stepper-personal-information-subtitle" class="text-sm text-gray-400">Adicione seu endereço</p>
                    </span>
                </li>
                <li id="stepper-payment" class="flex items-center dark:text-gray-400 space-x-2.5 rtl:space-x-reverse">
                    <span class="flex items-center justify-center w-[48px] h-[48px] border border-gray-400 text-gray-400 rounded-full shrink-0">
                        <i class="fa-solid fa-cart-shopping text-base"></i>
                    </span>
                    <span>
                        <h3 class="font-medium leading-tight text-gray-400">Realizar pagamento</h3>
                        <p class="text-sm text-gray-400">Pix, Cartão de Crédito, Boleto</p>
                    </span>
                </li>
                <li id="stepper-track-order" class="flex items-center  dark:text-gray-400 space-x-2.5 rtl:space-x-reverse">
                    <span class="flex items-center justify-center w-[48px] h-[48px] border border-gray-400 text-gray-400 rounded-full shrink-0">
                        <i class="fa-solid fa-truck text-base"></i>
                    </span>
                    <span>
                        <h3 class="font-medium leading-tight text-gray-400">Acompanhar Pedido</h3>
                        <p class="text-sm text-gray-400">da loja até sua casa</p>
                    </span>
                </li>
            </ol>


        </div>

        <div class="w-full flex flex-col md:flex-row space-y-[32px] mb-[64px] md:space-y-0">
            
            <!-- CODDING: Formulários -->
            <div class=" flex-1 md:flex-none w-full md:w-[60%] flex flex-row justify-center items-start">
                <!-- CODDING: Formulário de informações pessoais -->
                <div id="formulario-informacoes-pessoais" class="hidden w-[90%] bg-white shadow-[0_8px_24px_rgba(149,157,165,0.2)] rounded-[10px] py-[32px] px-[32px] grid grid-cols-2 gap-4">
                    <div class="col-span-2 pb-[16px]">
                        <div class="flex flex-row justify-start items-center space-x-[10px]">
                            <div class="rounded-full bg-azul w-[50px] h-[50px] flex flex-row justify-center items-center">
                                <i class="fa-solid fa-user text-white"></i>
                            </div>
                            <div class="flex flex-col items-start">
                                <h1 class="text-base/none sm:text-lg/none font-semibold text-azul">Informações Pessoais</h1>
                                <p class="text-sm sm:text-base text-azul">Por favor, preencha estas informações para continuar.</p>
                            </div>
                        </div>
                    </div>

                    <!-- CODDING: Nome, Sobrenone, Email e Telefone -->
                    <div class="col-span-1" id="formulario-informacoes-pessoais-container-nome">
                        <label for="nome" class="text-sm">Nome</label>
                        <input type="text" placeholder="Nome" value="<%= typeof user !== 'undefined' && typeof user.nome !== 'undefined' ? user.nome :'' %>" id="input-nome" name="nome" class="text-sm w-full p-2 border focus:outline-none focus:border-[2px] focus:border-azul rounded-md">
                        <p class="hidden text-red-500 text-sm">Nome inválido</p>
                    </div>
                    <div class="col-span-1" id="formulario-informacoes-pessoais-container-sobrenome">
                        <label for="email" class="text-sm">Sobrenome</label>
                        <input type="text" id="input-sobrenome" value="<%= typeof user !== 'undefined' && typeof user.sobrenome !== 'undefined' ? user.sobrenome : '' %>" placeholder="Sobrenome" name="input-sobrenome" class="text-sm w-full p-2 border focus:outline-none focus:border-[2px] focus:border-azul rounded-md">
                        <p class="hidden text-red-500 text-sm">Sobrenome inválido</p>
                    </div>
                    <div class="col-span-1" id="formulario-informacoes-pessoais-container-email">
                            <label for="email" class="text-sm">Email</label>
                            <input type="email" id="input-email" placeholder="Email" name="email" value="<%= typeof user !== 'undefined' && typeof user.email !== 'undefined' ? user.email : '' %>" class="text-sm w-full p-2 border focus:outline-none focus:border-[2px] focus:border-azul rounded-md">
                            <p class="hidden text-red-500 text-sm">Email inválido</p>
                    </div>
                    <div class="col-span-1" id="formulario-informacoes-pessoais-container-telefone">
                            <label for="telefone" class="text-sm">Telefone</label>
                            <div class="flex flex-row items-center space-x-[10px]">
                                <span class="text-sm">+55</span>
                                <input type="number" id="input-telefone" name="telefone" value="<%= typeof user !== 'undefined' && typeof user.telefone !== 'undefined' ? user.telefone : '' %>" placeholder="Telefone" class="text-sm w-full p-2 border focus:outline-none focus:border-[2px] focus:border-azul rounded-md">
                            </div>
                            <p class="hidden text-red-500 text-sm">Telefone inválido</p>
                    </div>    
                    
                    <!-- CODDING: Botão continuar -->
                    <div class="col-span-2 pt-[16px]">
                        
                        <button id="formulario-informacoes-pessoais-botao-continuar" class="w-full h-[50px] rounded-[5px] bg-azul text-sm font-bold text-white">CONTINUAR</button>
                    </div>
                </div>

                <!-- CODDING: Formulário de Endereço -->
                <div id="formulario-endereco" class="w-[90%] bg-white shadow-[0_8px_24px_rgba(149,157,165,0.2)] rounded-[10px] py-[32px] px-[32px] grid grid-cols-3 gap-4">
                    <div class="col-span-2 pb-[16px]">
                        <div class="flex flex-row justify-start items-center space-x-[10px]">
                            <div class="rounded-full bg-azul min-w-[50px] min-h-[50px] flex flex-row justify-center items-center">
                                <i class="fa-solid fa-location-dot text-white text-xl"></i>
                                
                            </div>
                            <div class="flex flex-col items-start">
                                <h1 class="text-base/none sm:text-lg/none font-semibold text-azul">Endereço de Entrega</h1>
                                <p class="text-sm sm:text-base text-azul">Por favor, adicione seu endereço para entrega.</p>
                            </div>
                        </div>
                    </div>

                    <!-- CODDING: Rua, bairro, cidade, estado e cep -->
                    <div class="col-span-2" id="container-input-rua">
                        <label for="input-rua" class="text-sm">Rua</label>
                        <input type="text" placeholder="Rua" id="input-rua" name="rua" class="text-sm w-full p-2 border focus:outline-none focus:border-[2px] focus:border-azul rounded-md">
                        <p class="hidden text-red-500 text-sm">Rua inválido</p>
                    </div>
                    <div class="col-span-1" id="container-input-bairro">
                        <label for="bairro" class="text-sm">Bairro</label>
                        <input type="text" id="input-bairro" placeholder="Bairro" name="input-bairro" class="text-sm w-full p-2 border focus:outline-none focus:border-[2px] focus:border-azul rounded-md">
                        <p class="hidden text-red-500 text-sm">Bairro inválido</p>
                    </div>
                    <div class="col-span-1" id="container-input-cidade">
                            <label for="cidade" class="text-sm">Cidade</label>
                            <input type="email" id="input-cidade" placeholder="Cidade" name="cidade" class="text-sm w-full p-2 border focus:outline-none focus:border-[2px] focus:border-azul rounded-md">
                            <p class="hidden text-red-500 text-sm">Cidade inválido</p>
                    </div>
                    <div class="col-span-1" id="container-input-estado">
                            <label for="estado" class="text-sm">Estado</label>
                            <input type="text" id="input-estado" name="estado" placeholder="Estado" class="text-sm w-full p-2 border focus:outline-none focus:border-[2px] focus:border-azul rounded-md">
                            <p class="hidden text-red-500 text-sm">Estado inválido</p>
                    </div>  
                    <div class="col-span-1" id="container-input-cep">
                        <label for="cep" class="text-sm">CEP</label>
                        <input type="" id="input-cep" placeholder="CEP" name="cep" class="text-sm w-full p-2 border focus:outline-none focus:border-[2px] focus:border-azul rounded-md">
                        <p class="hidden text-red-500 text-sm">CEP inválido</p>
                    </div>  
                    
                    <!-- CODDING: Botão do formulario de endereço -->
                    <div class="col-span-3 w-full pt-[16px] grid grid-cols-2 gap-4">
                        <button id="formulario-endereco-botao-voltar" class="col-span-1 w-full h-[50px] rounded-[5px] bg-white border-2 border-azul text-sm font-bold text-azul">VOLTAR</button>
                        <button id="form-address-button-continue" class="col-span-1 w-full h-[50px] rounded-[5px] bg-azul text-sm font-bold text-white">CONTINUAR</button>
                    </div>
                </div>

                <!-- CODDING: Formulário de pagamento -->
                <div id="formulario-de-pagamento" class="hidden w-[90%] bg-white shadow-[0_8px_24px_rgba(149,157,165,0.2)] rounded-[10px] py-[32px] px-[32px] ">
                
                    <!-- CODDING: Metodo de pagamento -->
                    <div class="w-full flex flex-col space-y-[10px]">
                       

                        <!-- CODDING: Texto -->
                        <div class="w-full flex flex-col justify-center items-center">
                            <p class="text-base sm:text-lg text-[#404040]">Escolha seu método de pagamento:</p>
                        </div>

                        <!-- CODDING: Escolher metodo de pagameto -->
                        <div class="w-full flex flex-row justify-center items-center space-x-[10px]">
                            <!-- CODDING: Pix -->
                            <div id="method-payment-pix" class="h-[60px] px-[16px] py-[8px] bg-azul text-white border-2 border-azul rounded-[10px] cursor-pointer flex flex-row justify-center items-center">
                                <img src="/img/pages/purchase/payment/pix-white.svg" class="w-[25px] h-[25px] mr-[10px]" alt="">
                                <span>Pix</span>
                            </div>
                            <!-- CODDING: Cartão de Crédito -->
                            <div id="method-payment-credit-card" class="h-[60px] bg-white text-azul border-2 border-azul px-[16px] py-[8px] rounded-[10px] cursor-pointer flex flex-row justify-center items-center">
                                <img src="/img/pages/purchase/payment/creditcard-white.png" class="hidden w-[25px] h-[25px] mr-[10px]" alt="">
                                <span>Cartão de crédito</span>
                            </div>
                            <!-- CODDING: Boleto -->
                            <div id="method-payment-boleto" class="h-[60px] border-[2px] border-azul bg-white text-azul px-[16px] py-[8px] rounded-[10px] cursor-pointer flex flex-row justify-center items-center">
                                <img src="/img/pages/purchase/payment/boleto-white.png" class="hidden w-[25px] h-[25px] mr-[10px]" alt="">
                                <span>Boleto</span>
                            </div>
                        </div>

                        <!-- CODDING: Beneficios do pix -->
                        <div id="method-payment-benefits-of-pix" class="grid grid-cols-2 sm:grid-cols-3 gap-4 py-[32px]">
                            <div class="border-[1px] border-gray-300 rounded-[10px] flex flex-col px-[16px] py-[16px]">
                                <i class="fa-regular fa-clock text-azul text-base"></i>
                                <p class="text-base font-bold">Aprovação imediata</p>
                                <p class="text-sm">O pagamento com Pix leva pouco tempo para ser processado</p>
                            </div>
                            <div class="border-[1px] border-gray-300 rounded-[10px] flex flex-col px-[16px] py-[16px]">
                                <i class="fa-solid fa-lock text-azul text-base"></i>
                                <p class="text-base font-bold">Transação segura</p>
                                <p class="text-sm">O Pix foi desenvolvido pelo Banco Central para facilitar suas compras, garantindo a proteção dos seus dados</p>
                            </div>
                            <div class="col-span-3 sm:col-span-1 border-[1px] border-gray-300 rounded-[10px] flex flex-col px-[16px] py-[16px]">
                                <i class="fa-solid fa-qrcode text-azul text-base"></i>
                                <p class="text-base font-bold">Finalize sua compra com facilidade</p>
                                <p class="text-sm">É só acessar a área Pix no aplicativo do seu banco e escanear o QR code ou digitar o código</p>
                            </div>

                        </div>

                        <!-- CODDING: Beneficios do boleto -->
                        <div id="method-payment-benefits-of-boleto" class="hidden grid grid-cols-2 gap-4 py-[32px]">
                            <div class="col-span-1 py-[16px] px-[16px] border-[1px] border-gray-300 rounded-[10px]">
                                <i class="fa-solid fa-calendar-days text-base text-azul"></i>
                                <p class="text-base font-bold">Pague até a data de vencimento</p>
                                <p class="text-sm">Faça o pagamento até a data de vencimento e garanta seu acesso ao produto.</p>
                            </div>

                            <div class="col-span-1 py-[16px] px-[16px] border-[1px] border-gray-300 rounded-[10px]">
                                <i class="fa-solid fa-lock text-base text-azul"></i>
                                <p class="text-base font-bold">Transação segura</p>
                                <p class="text-sm">O Pix foi desenvolvido pelo Banco Central para facilitar suas compras, garantindo a proteção dos seus dados</p>
                            </div>
                        </div>

                        <!-- CODDING: Preencher informações do cartão de crédito -->
                        <div id="method-payment-form-credit-card" class="hidden grid grid-cols-1 xl:grid-cols-2 py-[32px] space-y-[32px]">
                            <!-- CODDING: Cartão de credito -->
                            <div class=" flex flex-row justify-center items-center"> <!-- bg-gradient-to-b from-[#464B52] via-[#4F545C] to-[#6C737C] -->
                                <div class="w-[350px] h-[200px] rounded-[20px] bg-gradient-to-b from-[#464B52] via-[#4F545C] to-[#6C737C] shadow-[1.95px_1.95px_2.6px_rgba(0,0,0,0.15)]">   
                                    <div class="w-full px-[32px] pt-[32px] ">
                                        <img width="40" height="40" src="https://img.icons8.com/ios-filled/50/ffffff/sim-card-chip.png" alt="sim-card-chip"/>
                                    </div>
                                    <div class="w-full px-[32px] mt-[16px] flex flex-col items-start">
                                        
                                        <p class="text-sm text-white font-['Inconsolata']">David Eduardo Da Silva</p>
                                        <p class="text-base font-black text-white font-['Inconsolata']">**** **** **** **** 2342</p>

                                    </div>
                                    <div class="w-full px-[32px] mt-[16px] flex flex-row justify-between items-center ">
                                        <div class="flex flex-col">
                                            <p class="text-sm/none text-white font-['Inconsolata']">Data de válidade</p>
                                            <p class="text-base font-black text-white font-['Inconsolata']">**/**</p>
                                        </div>
                                        <div class="flex flex-col">
                                            <p class="text-sm/none text-white font-['Inconsolata']">CVC</p>
                                            <p class="text-base font-black text-white font-['Inconsolata']">***</p>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- CODDING: Preencher as informações -->
                            <div class="">
                                <!-- CODDING: Preencher campos do cartão de crédito -->
                                <div class="grid grid-cols-2 gap-4 p-[16px]">
                                    <div class="col-span-2">
                                        <label for="input-creditcard-name" class="text-sm">Nome do titular do cartão</label>
                                        <input type="text" name="numero" id="input-creditcard-name" placeholder="Titular do cartão" class="text-sm w-full p-2 border rounded-[10px] focus:outline-none focus:border-[2px] focus:border-azul">
                                    </div>
                                    <div class="col-span-2">
                                        <label for="input-creditcard-number" class="text-sm">Número do cartão</label>
                                        <input type="text" name="numero" id="input-creditcard-number" placeholder="Número do cartão" class="text-sm w-full p-2 border focus:outline-none focus:border-2 focus:border-azul">
                                    </div>
                                    <div class="col-span-1">
                                        <label for="input-creditcard-date" class="text-sm">Data de expiração</label>
                                        <input type="text" name="numero" placeholder="MM/YY" id="input-creditcard-date" class="text-sm w-full p-2 border focus:outline-none focus:border-2 focus:border-azul">
                                    </div>
                                    <div class="col-span-1">
                                        <label for="input-creditcard-cvc" class="text-sm">CVC</label>
                                        <input type="text" name="numero" placeholder="Codigo de verificação" id="input-creditcard-cvc" class="text-sm w-full p-2 border focus:outline-none focus:border-2 focus:border-azul">
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                        <!-- CODDING: Botão voltar -->
                        <div class="w-full grid grid-cols-2">
                            <button id="formulario-de-pagamento-botao-voltar" class="col-span-1 w-full h-[50px] rounded-[5px] bg-white border-2 border-azul text-sm font-bold text-azul">VOLTAR</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- CODDING: Detalhes -->
            <div class="flex-1 md:flex-none w-full md:w-[40%] flex flex-row justify-center items-start">
                <div class="w-[90%] md:w-full bg-white shadow-[0_8px_24px_rgba(149,157,165,0.2)] rounded-[10px] mr-[0px] md:mr-[32px] flex flex-col items-center space-y-[20px]">
                        
                        <!-- CODDING: Texto minha sacola -->
                        <div class="pt-[32px] px-[32px] w-full flex flex-row justify-start items-center">
                            <div class="flex flex-row justify-start items-center space-x-[10px]">
                                <div class="rounded-full bg-azul min-w-[50px] min-h-[50px] flex flex-row justify-center items-center">
                                    <i class="fa-solid fa-bag-shopping text-white"></i>
                                </div>
                                <div class="flex flex-col items-start">
                                    <h1 class="text-base/none sm:text-lg/none font-semibold text-azul">Minha Sacola</h1>
                                    <p class="text-sm sm:text-base text-azul">Meus produtos escolhido para comprar</p>
                                </div>
                            </div>
                        </div>
                        
                        <!-- CODDING: Tabela -->
                        <div id="table" class="px-[32px] w-full overflow-x-auto overflow-y-auto max-h-[400px]">
                            <table class="">
                                <thead class="text-[#404040]">
                                    <tr>
                                        <th class="text-sm font-bold"></th>
                                        <th class="text-sm font-bold"></th>
                                        <th class="text-sm px-[16px] rounded-[5px] ">Quantidade</th>
                                        <th class="text-sm px-[16px] rounded-[5px] ">Uni.</th>
                                        <th class="text-sm px-[16px] rounded-[5px] ">Total</th>
                                    </tr>
                                </thead>
                                <tbody id="products">
                                    <!-- CODDING: Produto 01 -->
                                    <tr class="border-b-[1px] border-[#e5e5e5]" produto-id-data="<%= typeof produto !== 'undefined' ? produto._id : '' %>">
                                        <td class="py-[10px] min-w-[90px] max-w-[120px] min-h-[90px] max-h-[120px]"><img src="<%= typeof produto !== 'undefined' ? produto.image[0].url : '' %>" class="w-auto h-auto max-w-full max-h-full" alt=""> </td>
                                        <td class="py-[10px] text-sm"><%= typeof produto !== 'undefined' && typeof produto.name !== 'undefined' ? produto.name : '' %></td>
                                        <td class="py-[10px]">
                                            <div class="w-full flex flex-row justify-center items-center">
                                                <i class="table-product-remove-item flex flex-row justify-center items-center fa-solid fa-minus text-sm w-[25px] h-[25px] border border-gray-300 rounded-tl-[5px] rounded-bl-[5px] cursor-pointer" produto-id-data="<%= typeof produto !== 'undefined' ? produto._id : '' %>"></i>
                                                <span id="table-product-item-quantity" class="flex flex-row justify-center items-center w-[25px] h-[25px] border border-gray-300 text-sm">1</span>
                                                <i class="table-product-add-item flex flex-row justify-center items-center fa-solid fa-plus text-sm w-[25px] h-[25px] border border-gray-300 rounded-tr-[5px] rounded-br-[5px] cursor-pointer" produto-id-data="<%= typeof produto !== 'undefined' ? produto._id : '' %>"></i>
                                            </div>
                                        </td>
                                        <td id="table-product-unit-value" class="py-[10px] text-center text-sm"><%= typeof produto !== 'undefined' && produto.price ? `R$ ${produto.price.toFixed(2)}` : '' %></td>
                                        <td id="table-product-amount" class="py-[10px] text-center text-sm text-[#404040] font-bold"><%= typeof produto !== 'undefined' && produto.price ? `R$ ${produto.price.toFixed(2)}` : '' %></td>
                                    </tr>


                                    

                                    
                                    
                                </tbody>
                            </table>
                        </div>




                        <!-- CODDING: Preço(R$) -->
                        <div class="py-[32px] px-[32px] w-full flex flex-col">
                            <div class="w-full flex flex-row justify-between items-center text-[#404040]">
                                <p class="text-base">Subtotal</p>
                                <p id="subtotal-value" class="text-base">R$634</p>
                            </div>

                            <hr class="h-[1px] bg-gray-300 my-[10px]">

                            <div class="w-full flex flex-row justify-between items-center text-[#404040]">
                                <p class="text-lg font-black">Total</p>
                                <p id="total-value" class="text-lg font-black">R$634</p>
                            </div>
                        </div>
                        
                        <!-- CODDING: Botões -->
                        <div id="formulario-de-pagamento-botoes-de-pagamento" class="px-[32px] pb-[32px] w-full flex flex-row justify-center items-center">
                            <button class="hidden w-full h-[50px] rounded-[5px] bg-azul text-sm font-bold text-white">CONTINUAR</button>

                            <!-- CODDING: Botão pix -->
                            <button id="formulario-de-pagamento-pix" class="hidden w-full h-[50px] bg-[#50B232] border-b-[5px] border-[#48A02E] rounded-[5px] shadow-[0_8px_24px_rgba(149,157,165,0.2)] text-sm font-black text-white flex flex-row justify-center items-center">
                                <img src="/img/pages/purchase/payment/pix-white.svg" alt="" class="w-[25px] h-[25px] mr-[5px]">
                                <span>GERAR PIX</span>
                            </button>

                            <!-- CODDING: Botão boleto -->
                            <button id="formulario-de-pagamento-boleto" class="hidden w-full h-[50px] bg-[#50B232] border-b-[5px] border-[#48A02E] rounded-[5px] shadow-[0_8px_24px_rgba(149,157,165,0.2)] text-sm font-black text-white flex flex-row justify-center items-center ">
                                <img src="/img/pages/purchase/payment/boleto-white.png" alt="" class="w-[25px] h-[25px] mr-[5px]">
                                <span>GERAR BOLETO</span>
                            </button>

                            <!-- CODDING: Botão cartão de crédito -->
                            <button id="formulario-de-pagamento-creditcard" class="hidden w-full h-[50px] bg-[#50B232] border-b-[5px] border-[#48A02E] rounded-[5px] shadow-[0_8px_24px_rgba(149,157,165,0.2)] text-sm font-black text-white flex flex-row justify-center items-center">
                                <img src="/img/pages/purchase/payment/creditcard-white.png" alt="" class="hidden w-[25px] h-[25px] mr-[5px]">
                                <span>COMPRAR AGORA</span>
                            </button>
                        </div>
                    
                </div>
            </div>
        </div>

        <!-- CODDING: Scripts -->
        <script src="/js/pages/purchase/purchase.js"></script>
    </body>
</html>